# Go
api/api
api/bin/
api/tmp/

# iOS
app/build/
app/*.xcodeproj/
xcuserdata/
*.xcuserstate
app/DerivedData/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/settings.json

# Environment
.env
.env.local

*.log
